In [5]:
import numpy as np
import pandas as pd
import random as rd
import math
import statistics as st

In [ ]:
THname = [
    "สมชาย", "สมหญิง", "วิชัย", "นฤมล", "สุชาติ", "ณัฐธิดา", "ประเสริฐ", "ปวีณา", "อาคม", "ชุติมา",
    "เกรียงศักดิ์", "ศิริพร", "วรากร", "มัณฑนา", "ศักดา", "พิมพ์ใจ", "อนันต์", "อรอนงค์", "จักรพงษ์", "อัจฉรา",
    "วิเชียร", "วรรณา", "ณรงค์", "กรรณิการ์", "บุญเลิศ", "สายใจ", "พรชัย", "นงนุช", "สมบูรณ์", "สุนิสา",
    "วีระ", "จินตนา", "ศุภชัย", "สุกัญญา", "พิเชษฐ์", "อรทัย", "ชาญชัย", "ธิดารัตน์", "ไพโรจน์", "จารุวรรณ",
    "ธีระ", "กัลยา", "วินัย", "เบญจวรรณ", "ประทีป", "มยุรี", "กิตติ", "นุจรี", "ถาวร", "สุกัญญา",
]

ENGname = ["James", "Emily", "Michael", "Olivia", "William", "Sophia", "David", "Emma", "John", "Ava",
    "Daniel", "Mia", "Matthew", "Isabella", "Joseph", "Charlotte", "Andrew", "Amelia", "Christopher", "Harper",
    "Joshua", "Evelyn", "Anthony", "Abigail", "Nicholas", "Ella", "Jonathan", "Grace", "Samuel", "Chloe",
    "Benjamin", "Lily", "Alexander", "Zoey", "Ryan", "Sofia", "Jacob", "Aria", "Ethan", "Scarlett",
    "Nathan", "Layla", "Logan", "Avery", "Justin", "Ellie", "Kevin", "Nora", "Brian", "Hannah"]


class Arailist:
    def __init__(self):
        l = []
        l.append(self)
        return l 
    def ranTHAIname(num):
        namelist = []
        for i in range(num):
            selected =  rd.choice(THname)
            namelist.append(selected)
        return namelist
    def ranENGname(num):
        namelist = []
        for i in range(num):
            selected = rd.choice(ENGname)
            namelist.append(selected)
        return namelist
    def ranInteger(num,start = int,end = int):
        lists = []
        for i in range(num):
            ran = rd.randint(start,end)
            lists.append(ran)
        return lists
    def listcal(l1 = list,l2 = list,opr = ''):
        k = []
        if opr == '-':
            for i in range(len(l1)):
                r = l1[i] - l2[i]
                k.append(r)
        elif opr == '+':
            for i in range(len(l1)):
                r = l1[i] + l2[i]
                k.append(r)
        elif opr == '*':
            for i in range(len(l1)):
                r = l1[i] * l2[i]
                k.append(r)
        elif opr == '/':
            for i in range(len(l1)):
                r = l1[i] / l2[i]
                k.append(r)
        return k

In [ ]:
array = np.array((Arailist.ranInteger(5,1,10),Arailist.ranInteger(5,1,10)))
result = (array[0] ** 2) - (2 * array[0] * array[1]) + (array[1] ** 2)

print(array[0])
print(array[1])

print(st.mean(array[0]))
','.join(map(str,result))

2,7,3,1,9
6,8,10,10,2
4

'16,1,49,81,49'

In [ ]:
n = Arailist.ranENGname(4)
a = Arailist.ranInteger(4,20,60)
income = Arailist.ranInteger(4,15000,100000)
use = Arailist.ranInteger(4,10000,100000)
r = Arailist.listcal(income,use,'+')

data = {
    "name":n,
    'age':a,
    'income':income,
    'Use':use,
    'ngern geb': r
}

df = pd.DataFrame(data)

df

       name  age  income    Use  ngern geb
0    Daniel   55   63117  21819   2.892754
1      Ella   31   51365  70820   0.725289
2     David   33   41746  88436   0.472048
3  Isabella   36   64906  54410   1.192906

In [22]:
def maxn(n1,maxx,i):
    if n1[i] >= maxx:
        maxx == n1[i]
        return maxn(n1[i+1],maxx,i+1)
    else:
        return maxn(n1[i+1],maxx,i+1)
    
    
n = list(map(int,input().split(',')))

print(maxn(n,0,0))

ValueError: invalid literal for int() with base 10: ''